<div class="contianer">
<div class="card" style="width: 20rem;" *ngFor="let product of products; let i = index">
    <img class="card-img-top" src={{product.photoUrl}} alt="Card image cap">
    <div class="card-body" >    
      <h3 class="card-title" > name: {{product.name}}</h3>
      <p  class="card-text">price: {{product.price}}</p>
      <p  class="card-text">category: {{product.category}}</p>
      <p  class="card-text">quantity: {{product.quantity}}</p>
      <button class="add-btn" type="submit" (click)="deleteItem()">Delete</button>
      <button class="add-btn" type="submit" (click)="navigation()">Update</button>
    </div>
  </div>
</div>