<div
  class="card"
  style="width: 18rem;"
  *ngFor="let product of products; let i = index"
>
  <img src="{{ product.photoUrl }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <button class="btn btn-primary" type="button" (click)="handleAddToCart()">
      Add to cart
    </button>
  </div>
</div>
<div>
  <app-cart></app-cart>
</div>
